﻿<template>
    <div>
        <div v-if="isAddEwallet === false">
            <button class="btn btn-primary" type="button" @click="addNewEwallet">Insert new Ewallet</button>
            <input type="text" v-model="filterByName" @change="fetch()" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> Nama </th>
                        <th>Jumlah</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(ewallet,index) in ewallets" :key="index">
                        <td>{{ewallet.namaEwallet}}</td>
                        <td>{{ewallet.jumlahEwallet}}</td>

                        <td>
                            <a :href="'/ewallet/update?idEwallet='+ewallet.idEwallet" class="btn btn-primary">Edit</a>

                            <button class="btn btn-danger" type="button" @click="deleteEwallet(ewallet.idEwallet)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>

            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination" v-for="page in totalPage">
                        <li class="page-item">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-if="isAddEwallet === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertEwallet">
                    <label class="col-form-label">Name</label>
                    <validation-provider name="Nama" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newEwallet.namaEwallet" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                        <label class="col-form-label">Jumlah</label>
                    <validation-provider name="jumlah" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newEwallet.jumlahEwallet" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </form>
            </validation-observer>

        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { EWalletModel, EwalletService, ResponseModel } from '../services/NswagService';
    import swal from 'sweetalert2';
    import { ValidationObserver } from 'vee-validate';
  

    @Component({
        created: async function (this: ListEwallet) {
            //await this.getEwallet();
            await this.fetch();
        }
    })
    export default class ListEwallet extends Vue {


        service: EwalletService = new EwalletService();
   

        ewallets: EWalletModel[] = [];

        newEwallet: EWalletModel = {
            idEwallet : 0,
            namaEwallet: '',
            jumlahEwallet: 0
            
        }
      
      
        addNewEwallet(): void {
            this.isAddEwallet = true;
            return;
        }

        
        filterByName = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;

        async fetch(): Promise<void> {
            this.totalData = await this.service.totalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

            this.ewallets = await this.service.filterData(this.pageIndex, this.itemPerPage, this.filterByName);
        }

        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.fetch();
        }


        isAddEwallet = false;

        async getEwallet(): Promise<void> {
            this.ewallets = await this.service.allEwallet();
        }
        

        async insertEwallet(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            //this.newEwallet.jumlahEwallet = +1;

            if (valid == false) {
                return; 
            }

            await this.service.insertEwallet(this.newEwallet.idEwallet, this.newEwallet.namaEwallet, this.newEwallet.jumlahEwallet);
            await this.getEwallet();


            swal.fire({
                title: 'YEayy!!',
                icon: 'success',
                text: 'Success insert Ewallet'
            });

            this.isAddEwallet = false;

        }

        async deleteEwallet(idEwallet): Promise<void> {
            await this.service.deleteEwallet(idEwallet);
            await this.getEwallet();

            swal.fire({
                title: 'yeah!!!',
                icon: 'success',
                text: 'Success delete ewallet'
            });

        }
    }
</script>
