﻿<template>
    <div>
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="updateEwallet">
                <label class="col-form-label">Name</label>
                <validation-provider name="Nama" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newEwallet.namaEwallet" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />
                <validation-provider name="jumlah" rules="required" v-slot="{errors}">
                    <label class="col-form-label">Jumlah</label>
                    <input class="form-control" type="number" v-model="newEwallet.jumlahEwallet" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { EWalletModel, EwalletService } from '../services/NswagService';
    import swal from 'sweetalert2';


    @Component({
        //props: ['employeeId'],


    })

    export default class UpdateEmployee extends Vue {



        service: EwalletService = new EwalletService();

        ewallets: EWalletModel[] = [];

        newEwallet: EWalletModel = {
            namaEwallet: '',
            jumlahEwallet: 0
        }   

        async updateEwallet(idEwallet): Promise<void> {

            swal.fire({
                title: 'Are you sure?',
                text: 'Update this ewallet data',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.updateEwallet(this.newEwallet)
                    swal.fire(
                        'Updated!',
                        'your file has been update.',
                        'success'
                    )
                }

            })

        }

         async getSpecificEwallet(): Promise<void> {
           
            const urlParams = new URLSearchParams(window.location.search);
             const idEwallet = urlParams.get('idEwallet')?.valueOf();
             var idEwalletId = Number(idEwallet);
             this.newEwallet = await this.service.getSpecificEwallet(idEwalletId);
         
        }
    }


</script>
